body{
    background-color: rgb(91, 165, 234);
    color: white;
}
header{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
#logo-header{
    width: 150px;
    border-radius: 60px;
    height: 60px;
    display: flex;
    margin: 20px;
    
}
main{
    background-color: white;
    color: black;
    padding: 30px 40px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
}
#res{
    margin-top: 40px;
    
}
#photo{
    width: 150px;
    height: auto;
    border-radius: 50%;
}
footer{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 50vh;
} 

#logo-footer{
    width: 200px;
}
